{% extends 'base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/kombatweb.css' %}">

<p>
    A continuación se listan los archivos JSON disponibles para cargar como plan de pelea. Seleccione un archivo:
</p>

<div class="container tabla">
    <table class="table table-dark table-hover">
        <tr>
            <th>Archivos Disponibles</th>
        </tr>
        {% for archivo in archivos %}
        <tr>
            <td class="color-td">{{ archivo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <p>Contenido del archivo JSON seleccionado:</p>
</div>

<code id="codeJson" class="code1">
    <i>seleccione un archivo desde la lista...</i>
</code>
{% csrf_token %}
<script src="{% static 'js/kombatweb.js' %}"></script>
{% endblock content %}