{% extends 'base.html' %}

{% block kombatweb %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/kombatweb.css' %}">

<p>
    A continuación se listan los archivos JSON disponibles para cargar como plan de pelea. Seleccione un archivo:
</p>

<div class="container tabla">
    <table class="table table-dark table-hover">
        <tr>
            <th>Archivos Disponibles</th>
        </tr>
        {% for archivo in archivos %}
        <tr>
            <td class="color-td">{{ archivo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <p>JSON seleccionado: <span id="spnShowFileName" class="text-warning"></span></p>
</div>

<code id="codeJson" class="code1">
    <i>seleccione un archivo desde la lista...</i>
</code>
<input type="hidden" id="hdnFileName">
{% csrf_token %}
<script src="{% static 'js/kombatweb.js' %}"></script>
{% endblock kombatweb %}

{% block fight %}

<h4 id="spnFightIdle" class="text-primary">Esperando a los peleadores...!</h4>
<h4 id="spnFightOn" class="text-primary">Pelea en curso...</h4>
<h4 id="spnFightEnd" class="text-danger">Pelea terminada.</h4>
<div id="divRelato">
    <!-- Relato de la pelea -->
</div>

<script src="{% static 'js/fight.js' %}"></script>

{% endblock fight %}